@model WebStudio.ViewModels.ChangeCommentViewModel

@{
    ViewBag.Title = "Изменение комментария";
    Layout = "_Layout";
}


<div class="row justify-content-center">
    <div class="col-md-6 pt-3 pb-4 shadow">
        <h2>Изменение комментария</h2>
        <form asp-action="ChangeComment" asp-controller="Cards" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <label asp-for="Message">Оставить комментарий</label>
            <textarea class="form-control" asp-for="Message" rows="3" placeholder="@Model.Message"></textarea>
            <input type="hidden" asp-for="Id" value="@Model.Id">
            <input type="submit" class="btn btn-outline-secondary mt-3" value="Изменить комментарий">
        </form>
    </div>
</div>