@using WebStudio.Enums


@{
    ViewBag.Title = "Меню";
    Layout = "_Layout";
}

<div>
    <div class="container pl-0">
        
        <div class="justify-content-left">
            <a type="button" class="btn btn-light col-lg-6 text-left mb-2 shadow-sm" asp-controller="Cards" asp-action="GetCardInfo" asp-route-sort="@CardState.Новая">База новых карточек</a>
            <a type="button" class="btn btn-light col-lg-6 text-left mb-2 shadow-sm" asp-controller="Cards" asp-action="GetCardInfo" asp-route-sort="@CardState.Проработка">База карточек взятых в работу/проработку</a>
            <a type="button" class="btn btn-light col-lg-6 text-left mb-2 shadow-sm">База карточек для участия в торгах</a>
            <a type="button" class="btn btn-light col-lg-6 text-left mb-2 shadow-sm">База выигранных карточек / победивших в торгах</a>
            <a type="button" class="btn btn-light col-lg-6 text-left mb-2 shadow-sm">База договоров/ реестр исполнения договоров</a>
            <a type="button" class="btn btn-light col-lg-6 text-left mb-2 shadow-sm">База проведенных торгов</a>
            <a type="button" class="btn btn-light col-lg-6 text-left mb-2 shadow-sm">Запрос поставщикам</a>
            <a type="button" class="btn btn-light col-lg-6 text-left mb-2 shadow-sm" asp-controller="Suppliers" asp-action="Index">База поставщиков</a>
            <a type="button" class="btn btn-light col-lg-6 text-left mb-2 shadow-sm">База коммерческих предложений</a>
            <a type="button" class="btn btn-light col-lg-6 text-left mb-2 shadow-sm">Настройки и ввод постоянных данных</a>
        </div>
    </div>
    </div>

