@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Microsoft.AspNetCore.Identity


@{
    ViewBag.Title = "Проверка email";
    Layout = "_Layout";
}

<h4>@ViewBag.Title</h4>
<p>Спасибо, ваш email подтверждён</p>
