@{
    ViewBag.Title = "Ошибка ввода Электронной почты";
    Layout = "_Layout";
}


<h4 class="mt-5 text-danger text-center">Ошибка!</h4>
<p class="text-danger text-center">Данный пользователь не зарегистрирован в системе</p>