

@{
    ViewBag.Title = "Ошибка при подтверждении эл.почты";
    Layout = "_Layout";
}


<h4 class="text-danger">@ViewBag.Title</h4>
<p class="text-danger">Возникла ошибка при подтверждении вашей эл.почты</p>
