

@{
    ViewBag.Title = "Ошибка при подтверждении эл.почты";
    Layout = "_Layout";
}


<h4 class="mt-5 text-danger text-center">@ViewBag.Title</h4>
<p class="text-danger text-center">Возникла ошибка при подтверждении вашей эл.почты</p>
