@model WebStudio.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Вход";
    Layout = "_Layout";
}

<div class="row justify-content-center">
    <div class="col-md-6 pt-3 pb-4 shadow">
        <h2>Вход в систему</h2>
        <form asp-action="Login" asp-controller="Account" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input class="form-control" asp-for="Email">
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input class="form-control" asp-for="Password">
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="RememberMe"></label>
                <input class="form-check-inline" asp-for="RememberMe">
            </div>
            <div class="my-auto">
                <a asp-action="ForgotPassword" asp-controller="Account">Забыли пароль</a>
            </div>
            <div>
                <input type="hidden" id="viewBag" value="@Model.RepeatLinkForConfirmEmail" />
                <input type="submit" id="enter" class="btn btn-outline-primary mt-4" value="Войти">
            </div>
        </form>
        
        <div class="my-auto pt-3" id="repeat">
            <a asp-action="SendLinkForConfirmEmail" asp-controller="Account" asp-route-email="@Model.Email">Отправить ссылку повторно</a>
        </div>
    </div>
</div>

@section Scripts
{
    <script>               
        $('#repeat').hide();
        var check = $('#viewBag').val();
                   
       if (check === "repeat"){
           $('#repeat').show();           
       }               
    </script>
}
