@{
    ViewBag.Title = "Подтверждение сброса пароля";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<p>
    Ваш пароль сброшен. Для входа в приложение перейдите по <a asp-action="Login" asp-controller="Account">ссылке</a>.
</p>