@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

@{
    ViewBag.Title = "Изменение пароля!";
    Layout = "_Layout";
}

<h4 class="mt-5 text-success text-center">@ViewBag.Title</h4>
<p class="text-success text-center">Пароль успешно изменен! <a asp-action="Index" asp-controller="Account" asp-route-userId="@UserManager.GetUserId(User)">Перейти в личный кабинет</a></p>
