@model WebStudio.ViewModels.DetailCardViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager


<p class="card-text mb-2" id="lin"><span class="badge text-white bg-violet">@Model.Card.CardState</span></p>

@if (Model.Card.ExecutorId == UserManager.GetUserId(User) || User.IsInRole("admin"))
{
    <div class="mr-3">
        <form asp-controller="Cards" asp-action="AddFile" asp-route-cardId="@Model.Card.Id" method="post" enctype="multipart/form-data">
            <label class="font-weight-bold">Прикрепить файл:</label>
            <div class="form-group">
                <input class="mb-2" type="file" name="uploads"/>
            </div>
            <div class="form-group">
                <input class="mb-2" type="file" name="uploads"/>
            </div>
            <div class="form-group">
                <input class="mb-1" type="file" name="uploads"/>
            </div>
            <button class="btn btn-outline-info shadow" type="submit"><i class="fas fa-upload"></i> Загрузить</button>
        </form>
    </div>
    <div class="form-group">
        <form class="mr-2" asp-action="ChangeCardStatus" asp-controller="Cards" asp-route-cardId="@Model.Card.Id" asp-route-cardState="Закрыта" method="post">
            <input type="submit" value="Закрыть" class="btn btn-outline-success shadow mt-4">
        </form>
    </div>
}