@model WebStudio.ViewModels.DetailCardViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

<p class="card-text mb-2" id="lin"><span class="badge badge-warning">@Model.Card.CardState</span></p>
        
<div class="d-flex align-items-end mt-2">
  <form asp-controller="Cards" asp-action="ChangeCardStatus" asp-route-cardId="@Model.Card.Id" asp-route-cardState="Выиграна" method="post">
    <input class="btn btn-outline-primary shadow d-inline mt-2" type="submit" value="Выиграна">
  </form>
</div>

<form asp-controller="Cards" asp-action="ChangeCardStatus" asp-route-cardId="@Model.Card.Id" asp-route-cardState="Проиграна" method="post">
  <div class="form-group mr-2 mt-4">
    <label class="d-inline-block">Введите предлагаемую цену: </label><br>
    <input name="bid" type="number" placeholder="Цена">
    <input class="btn btn-outline-danger shadow d-block mt-3" type="submit" value="Проиграна">
  </div>
</form>
